<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="treinos">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Meus Treinos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campeonatos">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Campeonatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academias">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Academias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>